/* --------------------------------------------- Header -----------------------------------------------------------------------------*/
.menu-bar{
    padding:0;
    margin:0;
    color:white;
    background: #333333;
    text-align: center;
    border-style:outset;
    box-sizing: border-box;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding:15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color:#fff;
}

.active,.menu-bar ul li:hover
{
    background-color: #000000;
    border-radius: 3px;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------- Body -------------------------------------------------------------------------------------------------*/

body {
    background-color: #333333;
}

h1{
    color:white;
    font-family: verdana;
    font-size: 300%;
    text-align: center;

}

form {
    font-family: verdana;
    font-size: 100%;
    color:white;
    text-align: center;
}

.form-field {
    margin-bottom: 1rem;
}


input[type=submit] {
    padding:5px 15px;
    background:#95df1f;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


.success-notice {
    background-color: #95df1f;
    color: white;
}

.error-notices {
    background-color: red;
    color: white;
}
/* -----------------------------------------------------------------------------------------------------------------------------------------------*/

/* --------------------------------------------- Footer -------------------------------------------------------------------------------------------------*/

footer{
    color:white;
}
/* -----------------------------------------------------------------------------------------------------------------------------------------------*/
