body {
    background-color: #333333;
}

h1{
    color:white;
    font-family: verdana;
    font-size: 300%;
    text-align: center;

}

form {
    font-family: verdana;
    font-size: 100%;
    color:white;
    text-align: center;
}

.form-field {
    margin-bottom: 1rem;
}

p{
    color:black;
    background-color: red;
}

input[type=submit] {
    padding:5px 15px;
    background:#95df1f;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/**
 * Footer.
 */
footer{
    color:white;
}

